@model IEnumerable<T034.Api.Dto.Vgiik.PublicationDto>

@{
    ViewBag.Title = "Публикации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Добавить", "AddOrEdit", "Publication")

<h2>Публикации</h2>

<table id="personTable" class="display">
    <thead>
        <tr>
            <th>Код</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderBy(n => n.Id))
    {
    <tr>
        <td>@item.Id</td>
        <td>
            <a href="@Url.Action("Index", new { id = item.Id})" title="Подробнее"><i class="fa fa-square-o" aria-hidden="true"></i></a>
            <a href="@Url.Action("AddOrEdit", new { id = item.Id})" title="Редактировать"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="@Url.Action("Delete", new { id = item.Id})" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
      </tr>
    }
    </tbody>
</table>

