@using T034.Models
@model Db.Entity.Printer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div>@Model.Price</div>
<div>@Model.Description</div>
<div>@Model.HasDisplay</div>
<div>@Model.Printhead</div>

@Html.Partial("FileUploadPartialView", new FileUploadModel
    {
        Url = "~/Admin/UploadFile",
        Category = "Printer", 
        Id = Model.Id.ToString()
    })