@model List<Db.Entity.Subject>

@{
    ViewBag.Title = "3D объекты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>3D объекты</h2>
@Html.ActionLink("Добавить", "AddSubject")
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Код</th>
            <th>Артукул</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.ActionLink(item.Id.ToString(), "Subject", new { id = item.Id }) </td>
        <td>@item.Article</td>
        <td>@item.Name</td>
        <td>@item.Price</td>
    </tr>
    }
    </tbody>
</table>
<script language="javascript">
    $(document).ready(function(){
        $('#table_id').DataTable();
    });
</script>

