@model T034.ViewModel.MaterialViewModel

@{
    ViewBag.Title = "Добавить пластик";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddMaterial", "Admin"))
{
    <legend>Добавить 3D принтер</legend>
    <div class="control-group warning">
        <label class="control-label">Артикул</label>
        <div>
            @Html.TextBoxFor(m => m.Article, new Dictionary<string, object> { { "class", "input-xxlarge" } })
        </div>

        <label class="control-label">Название</label>
        <div>
            @Html.TextBoxFor(m => m.Name)
        </div>

        <label class="control-label">Цена</label>
        <div>
            @Html.TextBoxFor(m => m.Price)
        </div>

        <label class="control-label">Количество</label>
        <div>
            @Html.TextBoxFor(m => m.Count)
        </div>

        <label class="control-label">Содержание</label>
        <div>
            @Html.TextAreaFor(m => m.Description)
        </div>

        <label class="control-label">Цвет</label>
        <div>
            @Html.TextBoxFor(m => m.Color)
        </div>

        <label class="control-label">Масса</label>
        <div>
            @Html.TextBoxFor(m => m.Weight)
        </div>
        
        <label class="control-label">Тип материала</label>
        <div>
            @Html.DropDownListFor(model => model.MaterialType.Id, Model.MaterialTypeList, "Выбрать... ")
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn">Отмена</button>
    </div>
}