@model T034.ViewModel.PrinterViewModel

@{
    ViewBag.Title = "Добавить 3D принтер";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddPrinter", "Admin"))
{
    <legend>Добавить 3D принтер</legend>
    <div class="control-group warning">
        <label class="control-label">Артикул</label>
        <div>
            @Html.TextBoxFor(m => m.Article, new Dictionary<string, object> { { "class", "input-xxlarge" } })
        </div>

        <label class="control-label">Название</label>
        <div>
            @Html.TextBoxFor(m => m.Name)
        </div>

        <label class="control-label">Цена</label>
        <div>
            @Html.TextBoxFor(m => m.Price)
        </div>

        <label class="control-label">Количество</label>
        <div>
            @Html.TextBoxFor(m => m.Count)
        </div>

        <label class="control-label">Содержание</label>
        <div>
            @Html.TextAreaFor(m => m.Description)
        </div>

        <label class="control-label">Наличие экрана</label>
        <div>
            @Html.CheckBoxFor(m => m.HasDisplay)
        </div>
        
        <label class="control-label">Назначение</label>
        <div>
            @Html.DropDownListFor(model => model.Purpose.Id, Model.PurposeList, "Выбрать... ")
        </div>
        
        <label class="control-label">Технология</label>
        <div>
            @Html.DropDownListFor(model => model.Technology.Id, Model.TechnologyList, "Выбрать... ")
        </div>

        <label class="control-label">Количество печатающих головок</label>
        <div>
            @Html.TextBoxFor(m => m.Printhead)
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn">Отмена</button>
    </div>
}