@model List<Db.Entity.Printer>

@{
    ViewBag.Title = "3D Принтеры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Принтеры</h2>
@Html.ActionLink("Добавить", "AddPrinter")
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Код</th>
            <th>Артукул</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Наличие экрана</th>
            <th>Количество печатающих головок</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.ActionLink(item.Id.ToString(), "Printer", new { id = item.Id }) </td>
        <td>@item.Article</td>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>@item.HasDisplay</td>
        <td>@item.Printhead</td>
    </tr>
    }
    </tbody>
</table>
<script language="javascript">
    $(document).ready(function(){
        $('#table_id').DataTable();
    });
</script>

