@using T034.Models
@using T034.Tools.Auth
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta content="музей, архив, волгоградский государственный институт искусств и культуры, виртуальный музей, Волгоградское областное культурно-просветительное училище, вгиик" name="description">
    <meta content="музей-архив, архиввгиик, архив, музей, вгиик, волгоградский государственный институт искусств и культуры" name="keywords">

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/DataTables-1.10.2/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

    <script src="/Scripts/require.js"></script>
    <script src="/Scripts/main.js"></script>
</head>

    <body>

        @{
            Html.RenderAction("ManagementMenu", "Navigation");
        }

        <div class="container">
            <div><a href="http://архиввгиик.рф"><img src="@Url.Content("~/Content/pic/banner.png")" alt="Баннер" height="198px" width="900px"></a>
            </div>
            <!--Begin MainMenu-->
            @Html.Partial("MainMenu")
            <!--End MainMenu-->
            <div class="main">
                <div class="pmb">
                    @{if (Request.Cookies["auth"] != null && string.IsNullOrEmpty(Request.Cookies["auth"].Value))
                        {
                            <span class="pull-right"><a href="@Url.Action("Logon", "Account")" title="Войти"><i class="fa fa-sign-in" aria-hidden="true"></i></a></span>
                        }
                    }
                    @*<img src="@Url.Content("~/Content/pic/pmb.png")" alt="" height="26px" width="900px">*@
                </div>
                <!--Begin Body-->
                @RenderBody()
                <!--End Body-->
                <div class="bbanner" id="right"><a href="http://архиввгиик.рф" class="bottommenu">&copy; Волгоградский государственный институт искусств и культуры 2014-2016</a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            require(['jquery', 'bootstrap', 'app/@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]'], function ($, bootstrap, view) {
                view.Initialize();
            });
        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>
