@using T034.Models
@using T034.Tools
@using T034.Tools.Auth
<!DOCTYPE html>
<html>
<head>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(34043170, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/34043170" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

    <title>@ViewBag.Title</title>
    <meta content="музей, архив, волгоградский государственный институт искусств и культуры, виртуальный музей, Волгоградское областное культурно-просветительное училище, вгиик" name="description">
    <meta content="музей-архив, архиввгиик, архив, музей, вгиик, волгоградский государственный институт искусств и культуры" name="keywords">

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/DataTables-1.10.2/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lightbox/jquery.lightbox-0.5.css")" rel="stylesheet" type="text/css" />

    <script src="/Scripts/require.js"></script>
    <script src="/Scripts/main.js"></script>
</head>

    <body>

        @{
            Html.RenderAction("ManagementMenu", "Navigation");
        }

        <div class="container">
            <div><a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/pic/banner.png")" alt="Баннер" height="198px" width="900px"></a>
            </div>
            <!--Begin MainMenu-->
            @Html.Partial("MainMenu")
            <!--End MainMenu-->
            <div class="main">
                <div class="pmb">
                    @{
                        if (Request.IsAuthorized())
                        {
                            <span class="pull-right"><a href="@Url.Action("Logon", "Account")" title="Войти"><i class="fa fa-sign-in" aria-hidden="true"></i></a></span>
                        }
                    }
                </div>
                <div role="alert" class="alert alert-danger" id="errorContainer" style="display:none"></div>
                <div role="alert" class="alert alert-success" id="successContainer" style="display:none"></div>
                <!--Begin Body-->
                @RenderBody()
                <!--End Body-->
                <div class="bbanner" id="right"><a href="@Url.Action("Index", "Home")" class="bottommenu">&copy; Волгоградский государственный институт искусств и культуры 2014-2019</a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            require(['jquery', 'bootstrap', 'app/@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]'], function ($, bootstrap, view) {
                view.Initialize();
            });
        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>
