@model T034.ViewModel.DepartmentViewModel

<h4 class="text-center">@Model.Name</h4>
<div class="row">
	<div class="col-xs-6 col-md-2">
	</div>
	<div class="col-xs-6 col-md-8">
        <a href="@Model.MainPhoto" class="thumbnail">
            <img src="@Model.MainPhoto" alt="">
        </a>
    @{
        if (@Model.Staff.Any())
        {
            foreach (var item in Model.Staff)
            {
                <p class="text"><i>@item</i></p>
            }
        }
        else
        {
            @Html.Raw(@Model.MainPhotoDescription)
        }
    }
	</div>
	<div class="col-xs-6 col-md-2">
	</div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-12">
        <p class="text">
            @Html.Raw(@Model.Text)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-12">
        @{
            foreach (var carousel in Model.Albums)
            {
                Html.RenderPartial("Carousel", carousel);
            }
        }
    </div>
</div>

@for (var i = 0; i < Model.Files.Count(); i++)
{
    <p><a href="@Url.Content("~" + Model.FilesFolder + Model.Files.ToList()[i])" alt="...">@Model.Files.ToList()[i]</a></p>
}

<div class="text text-center">
    @for (var i = 0; i < Model.Videos.Count(); i++)
    {
        @Model.Videos.ToList()[i]
    }
</div>
