@model T034.ViewModel.DepartmentViewModel

<h4 class="text-center">@Model.Name</h4>
<div class="row">
	<div class="col-xs-6 col-md-2">
	</div>
	<div class="col-xs-6 col-md-8">
	    <a href="@Model.MainPhoto" class="thumbnail">
	        <img src="@Model.MainPhoto" alt="">
	    </a>
        @foreach (var item in Model.Staff)
        {
            <p class="text"><i>@item</i></p>
        }
	</div>
	<div class="col-xs-6 col-md-2">
	</div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-12">
        <p class="text">
            @Html.Raw(@Model.Text)
        </p>
    </div>
</div>