@using T034.Models
@using T034.Tools
@model T034.ViewModel.PersonViewModel
@{
    ViewBag.Title = "Редактирование человека";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddOrEdit", "Person"))
{
    <legend>Редактирование</legend>
    <div class="control-group warning">
        <label class="control-label">ФИО</label>
        <div>
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            @Html.HiddenFor(m => m.PersonId)
        </div>

        <label class="control-label">Титул</label>
        <div>
            @Html.TextAreaFor(m => m.Title, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn">Отмена</button>
        @if (Model.PersonId > 0)
        {
            <div>@Html.ActionLink("Удалить", "Delete", new { id = Model.PersonId })</div>
        }
    </div>
}

<label class="control-label">Альбомы</label>
@Html.PermissionActionLink("Добавить", "AddOrEdit", "Album", new { personId = Model.PersonId }, null)
<ul class="list-group">
    @foreach (var album in Model.Albums)
            {

        <li class="list-group-item">
            @album.Name
            @Html.PermissionActionLink("Редактировать", "AddOrEdit", "Album", new { id = album.Id }, null)
        </li>
    }
</ul>

@if (Model.FilesFolder == "")
{
    @Html.DisplayFor(m => m.FilesFolderHint)
    <button type="submit" class="btn btn-primary" id="createFolderBtn">Создать папку</button>
}
else
{
    @Html.DisplayFor(m => m.FilesFolder)
}

<label class="control-label">Файлы</label>
<div class="list-group">
    @if (Model.Files != null)
    {
        foreach (var item in Model.Files)
        {
            <a class="list-group-item" href="@item.Url" target="_blank">
                <i class="fa @item.FileIcon"></i> @item.Name
                <span class="pull-right">@item.LogDate @item.Size</span>
            </a>
        }
    }
</div>
@Html.HiddenFor(m => m.FilesFolderId)
@Html.Partial("FileUploadPartialView", new FileUploadModel
   {
       Url = "/Folder/UploadFile",
       // Folder = Model.Id.ToString()
   })
