<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/DataTables-1.10.2/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DataTables-1.10.2/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    
</head>

    <body>
        
<table border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
        <td width="6" background="@Url.Content("~/Content/pic/c.png")">
            <img src="@Url.Content("~/Content/pic/c.png")" border="0" align="top" width="2" height="2">
        </td>
		<td width="891">
		<div><img src="@Url.Content("~/Content/pic/banner.png")" alt="Баннер" height="199px" width="891px"></div>
            <div>
                <img src="@Url.Content("~/Content/pic/m1.png")" alt="" height="45px" width="116px">
                <img src="@Url.Content("~/Content/pic/m2.png")" alt="" height="45px" width="167px">
                <img src="@Url.Content("~/Content/pic/m3.png")" alt="" height="45px" width="11px">
                <img src="@Url.Content("~/Content/pic/m4.png")" alt="" height="45px" width="195px">
                <img src="@Url.Content("~/Content/pic/m5.png")" alt="" height="45px" width="10px">
                <img src="@Url.Content("~/Content/pic/m6.png")" alt="" height="45px" width="195px">
                <img src="@Url.Content("~/Content/pic/m7.png")" alt="" height="45px" width="10px">
                <img src="@Url.Content("~/Content/pic/m8.png")" alt="" height="45px" width="167px">
                <img src="@Url.Content("~/Content/pic/m9.png")" alt="" height="45px" width="20px">
            </div>
            <div>
                <img src="@Url.Content("~/Content/pic/ypm1.png")" alt="" height="30px" width="116px">
                <img src="@Url.Content("~/Content/pic/ypm2.png")" alt="" height="30px" width="775px">
            </div>
            <div>
                <img src="@Url.Content("~/Content/pic/wpm1.png")" alt="" height="41px" width="60px">
                <img src="@Url.Content("~/Content/pic/wpm2.png")" alt="" height="41px" width="831px">
            </div>

	<table border="0" cellpadding="0" cellspacing="0" align="center" width="891" height="300">
        <tr valign = "top">
            <td width="6" background="@Url.Content("~/Content/pic/wpm2.png")">
                @Html.Partial("MainMenu")
                @RenderBody()
                <hr>
                <footer>
                    <p>© Волгоградский государственный институт искусств и культуры 2014</p>
                </footer>
            </td>
        </tr>
        

    </table>

            <div>
                <img src="@Url.Content("~/Content/pic/wpm2.png")" alt="" height="33px" width="831px">
                <img src="@Url.Content("~/Content/pic/bm2.png")" alt="" height="33px" width="60px">
            </div>
            <div>
                <img src="@Url.Content("~/Content/pic/botb.png")" alt="" height="46px" width="891px">
            </div>
		</td>

        <td width="1" background="@Url.Content("~/Content/pic/c.png")">
            <img src="@Url.Content("~/Content/pic/c.png")" border="0" align="top" width="1" height="1">
        </td>
	</tr>
</table>
        
        
    </body>
</html>
